body{
    background-color: gainsboro
}
header {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
   display: flex;
   gap: 20px;
   justify-content: center;
   text-align: center;

}

p{
    text-align: center;
    justify-content: center;
    display: flex;
}

@media(max-width:600px){
body{
    background-color: rgb(169, 189, 190);
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 10px;
   
}
 
header{

display: block;
margin: 0 auto;
max-width: 100%;
height: auto;


}

h1{
    text-align: center;
    display: flex;
    justify-content: center;
}
}