body {
    background-color: #78a3ff7e;
    font-family: Arial, Helvetica, sans-serif;


}



h1 {
text-align: center;
border-style: solid;
border-color: black;
border-width: 4px;


}

h4 {
    text-align: center;
}

ul {
    text-align: center;

    background-color: blueviolet;
    font-size: 50px;
    color: #fff;
}

.carro {
    color: #081a41;
}
#cabecalho{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
}


.Planetas h1 {
    text-align: center;
    font-size: 50px;
    color: hotpink;
}

.Planetas ul li{
    text-align: center;
    color: #4b0808;
    font-family: Arial, Helvetica, sans-serif;
}